{
  "presets": [
    "stage-1",
    "react",
    ["env", {
      "modules": false
    }],
  ],
  "plugins": [
    "transform-object-assign",
    "transform-inline-environment-variables",
    "transform-class-properties",
    "transform-runtime",
    ["react-intl", {
      "messagesDir": "./i18n/"
    }]
  ],
  "env": {
    "development": {
      "ignore": [
        "*.spec.js"
      ],
      "sourceMaps": "both",
      "plugins": [
      ]
    },
    "production": {
      "ignore": [
        "*.spec.js"
      ],
      "plugins": [
        "transform-dev-warning",
        "transform-react-constant-elements",
        ["transform-react-remove-prop-types", {
          "mode": "wrap"
        }]
      ]
    },
    "test": {
      "plugins": [
        "transform-class-properties"
      ],
      "presets": [
        "env"
      ]
    }
  }
}
