/dist
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.env.local

# vim
*.swp

# tar
*.tgz

# styleguide
/styleguide

# testing
/test
/coverage
/.eslintcache

# yarn install
.yarninstall

# version
/.version
